<div class="animation animation-wrapper">
    <div class="animation__title">
      <h1>Лабораторна робота №1 </h1>
      <p>Виконав: <b>Сергій Дичко 401 група</b></p>
      <p class="small-text">
        Створити анімацію відкриття та закриття скриньки через сенсорне натискання на неї, після відкривання <br/> скриньки створити піднімання вгору червоної кульки з неї.
      </p>
      <h4>Натисність на скриню, щоб відчинити</h4>
    </div>
    <div class="animation__main">
      <div class="animation__circle" [@showCircle]="clickedBoxState"></div>
      <div class="animation__box" [@openBox]="clickedBoxState" (click)="toggleAnimation()"></div>
    </div>
</div>
